
@{
    ViewData["Title"] = "Errors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="alert alert-danger">
        <strong>Oops! Something went wrong.</strong> A problem has occurred on this web site. Please try again. If this error continues, please contact support.
    </div>